.reviews {
    margin-top: 130px;
}

.reviews__title-h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
}

.reviews__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0 80px;
    column-gap: 30px;
}

.reviews__item {
    display: grid;
    align-items: center;
    row-gap: 15px;
}

.reviews__img {
    justify-self: center;
}

.reviews__title-h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.reviews__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.reviews__button {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--Burnt-color);
    width: 275px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--White-bg-color);
    transition: all 0.4s ease;
}

.reviews__button:hover {
    transform: scale(1.03);
}

.reviews__button:active {
    position: relative;
    top: 2px;
}

.reviews__wrapper::before {
    content: '‹';
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 50px;
    min-height: 50px;
    border-radius: 10px;
    font-size: 40px;
    color: var(--Gray-color);
    background: var(--Gallery-border-color);
}

.reviews__wrapper::after {
    content: '›';
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50px;
    min-height: 50px;
    border-radius: 10px;
    font-size: 40px;
    color: var(--White-bg-color);
    background: var(--Burnt-color);
}