.header { 
    background-color: var(--bg-color);
}

.header .container {
    display: flex;
    margin-top: 17px;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    display: flex;
    gap: 40px;
}

.header__nav {
    display: flex;
}

.header__menu {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    justify-content: center;
    align-items: center;
}

.header__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header__settings img {
    cursor: pointer;
}

.header__logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.header__logo_blue {
    color: var(--secondary-color);
}

.header__logo_red {
    color: var(--primary-color);
}